@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

.purple {
    color: rgb(100 21 255);
}

.purple2 {
    color: #6415ff;
}

.sub__heading--purple {
 color: #6415ff;
 font-weight: 700;
 text-transform: uppercase;
 margin-bottom: 16px;
 letter-spacing: 0.1em;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}


.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #243E63;
    transition: all 300ms ease;
    border-color: black;
    border-bottom-width: 2px;
}

.nav__link:hover {
    color:#6415ff;
}


.nav__link--login {
    margin-left: 48px;
    margin-right: 24px;
}

.logo__treact {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 0.025rem;
    font-size: 1.5rem;
    color: rgb(36, 62, 99);
    transition: all 300ms ease;
}

.logo__treact:hover {
    color: rgb(100 21 255);
}

.nav__link--sign-up {
    background-color: rgb(100 21 255);
    color: rgb(247 250 252);
    padding: 12px 32px;
    border-radius: 32px;
    transition: all 300ms ease;
}

.nav__link--sign-up:hover {
    background-color: #320096;
    color: lightgray;
}


.logo__img img {
    width: 40px;
    margin-right: 0.75rem;
}

/* HEADER */


.header__container {
    padding: 98px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    position: relative;
}

.header__description {
    font-size: 28px; 
    color: #1a202c;
}

.header__paragraph {
    margin: 32px 0;
    text-align: left;
    font-size: 18px;
    line-height: 150%;
}

.header__left-column {
    
    flex-direction: column;
    position: relative;
    margin-right: auto;
    width: 40%;
    text-align: left;
}

.inputActions {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  text-align: center;
  font-size: 100%;
}

::placeholder {
    opacity: 0.35;
}

.inputActions input {
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding-left: 2rem;
    font-size: 100%;
    padding: 20px 32px;
    border: 2px 0px;
    position: absolute;
    left: -32px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    font-weight: 500;
    transition: all 300ms ease;
}

.inputActions input:hover {
    border-color: rgb(140, 142, 145);
}

.inputActions button {
    width: 100%;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-align: center;
    position: absolute;
    left: 250px;
    bottom: -59px;
    top: 4px;
    background-color: rgb(100 21 255);
    font-weight: 700;
    color: rgb(247 250 252);
    border-radius: 9999px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: all 300ms ease;
}

.inputActions button:hover {
    background-color: rgb(52, 9, 138);
}

.header__right-column  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 700px;
}

.header__right-column img {
    width: 100%;
    max-width: 700px;
}

.header__column {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.customer__logo {
    margin-top: 64px;
    padding-top: 90px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
}

.customer__logo img {
    padding-top: 16px;
    opacity: 0.5;
    width: 100%;
    padding-right: 128px;
}

.sub__heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.service__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color:#243E63
}

.service__para {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    max-width: 36rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
.header__left-column {
     
        width: 41.6667%;
        max-width: none;
        text-align: left;
    }
}