@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

/* NAV */

.white {
  color: white !important;
}


.purple {
  color: rgb(100 21 255);
}

.purple2 {
  color: #6415ff;
}

.sub__heading--purple {
  color: #6415ff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.1em;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #243e63;
  transition: all 300ms ease;
  border-color: black;
  border-bottom-width: 2px;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link--login {
  margin-left: 48px;
  margin-right: 24px;
}

.logo__treact {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.025rem;
  font-size: 1.5rem;
  color: rgb(36, 62, 99);
  transition: all 300ms ease;
}

.logo__treact:hover {
  color: rgb(100 21 255);
}

.nav__link--sign-up {
  background-color: rgb(100 21 255);
  color: rgb(247 250 252);
  padding: 12px 32px;
  border-radius: 32px;
  transition: all 300ms ease;
}

.nav__link--sign-up:hover {
  background-color: #320096;
  color: lightgray;
}

.logo__img img {
  width: 40px;
  margin-right: 0.75rem;
}

/* HEADER */

.header__container {
  padding: 98px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  position: relative;
}

.header__description {
  font-size: 28px;
  color: #1a202c;
}

.header__paragraph {
  margin: 32px 0;
  text-align: left;
  font-size: 18px;
  line-height: 150%;
}

.header__left-column {
  flex-direction: column;
  position: relative;
  margin-right: auto;
  width: 40%;
  text-align: left;
}

.inputActions {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  text-align: center;
  font-size: 100%;
}

::placeholder {
  opacity: 0.35;
}

.inputActions input {
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  padding-left: 2rem;
  font-size: 100%;
  padding: 20px 32px;
  border: 2px 0px;
  position: absolute;
  left: -32px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  font-weight: 500;
  transition: all 300ms ease;
}

.inputActions input:hover {
  border-color: rgb(140, 142, 145);
}

.inputActions button {
  width: 100%;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-align: center;
  position: absolute;
  left: 250px;
  bottom: -59px;
  top: 4px;
  background-color: rgb(100 21 255);
  font-weight: 700;
  color: rgb(247 250 252);
  border-radius: 9999px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  font-size: 16px;
  transition: all 300ms ease;
}

.inputActions button:hover {
  background-color: rgb(52, 9, 138);
}

.header__right-column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 700px;
}

.header__right-column img {
  width: 100%;
  max-width: 700px;
}

.header__column {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.customer__logo {
  margin-top: 64px;
  padding-top: 90px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(160 174 192 / var(--tw-text-opacity));
}

.customer__logo img {
  padding-top: 16px;
  opacity: 0.5;
  width: 100%;
  padding-right: 128px;
}

/* SERVICES */

.sub__heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.service__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #243e63;
}

.service__para {
  width: 100%;
  text-align: center;
  margin-top: 16px;
  max-width: 36rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
  margin-left: auto;
  margin-right: auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  padding: 2rem 0.5rem;
}

.service {
  display: flex;
  width: calc(100% / 3);
  padding: 30px;
  padding-left: 35px;
  padding-right: 35px;
}

.service .title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

.service img {
  flex-shrink: 0;
  border-radius: 9999px;
  border-width: 1px;
  padding: 1.25rem;
  text-align: center;
  border-style: solid;
  border-color: rgb(203, 218, 236);
}

.container {
  margin: 0px 256px;
}

.service__description {
  display: flex;
  flex-direction: column;
}

.service .service__description {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.service__description p {
  margin-top: 16px;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

/* STEPS AND VALUES */

.steps__container {
  padding: 98px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  position: relative;
}

.steps__column {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.steps__left--column {
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 16px;
}

.steps__subheading {
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  letter-spacing: 0.025em;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.steps__title {
  margin-top: 16px;
  text-align: left;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  color: #243e63;
}

.steps__para {
  margin-top: 16px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.steps__anchor {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: inline-block;
  font-size: 0.875rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  padding: 0.75rem 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
  transition-duration: 300ms;
}

.steps__right--column {
  width: 50%;
  border-radius: 2px;
}

.steps__right--column img {
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.steps__left2column {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps__left2column img {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.steps__right2column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 16px;
  position: inherit;
  left: 64px;
}

.steps__heading {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  color: #243e63;
}

.purple2 {
  color: #6415ff;
}

.steps__list {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
}

.steps__list--description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 0px;
}

.steps__listing {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(203 213 224 / var(--tw-text-opacity));
}

.steps__list--deschead {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: #243e63;
}

.steps__list--descpara {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(113 128 150 / var(--tw-text-opacity));
}

.TwoColumn__small {
  margin-top: 21px;
  max-width: none;
  display: flex;
  flex-direction: row;
}

.TwoColumn__small--left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.TwoColumn__small--leftcontainer {
  display: flex;
  align-items: center;
}

.TwoColumn__small--leftheading {
  margin-left: 12px;
}

.TwoColumn__small--leftpara {
  margin-top: 16px;
  margin-right: 16px;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(113 128 150 / var(--tw-text-opacity));
}

.TwoColumn__small--right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.TwoColumn__small--rightcontainer {
  display: flex;
  align-items: center;
}

.TwoColumn__small--rightheading {
  margin-left: 12px;
}

.TwoColumn__small--rightpara {
  margin-top: 16px;
  margin-right: 16px;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(113 128 150 / var(--tw-text-opacity));
}

.dollarsign {
  --tw-bg-opacity: 1;
  background-color: rgb(154 230 180 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(39 103 73 / var(--tw-text-opacity));
  display: flex;
  align-items: center;
}

.dollarsign svg {
  height: 1.25rem;
  width: 1.25rem;
}

.TwoColumn__small--leftcontainer {
  display: flex;
  align-items: center;
}

.TwoColumn__small--containerborderleft {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  flex-shrink: 0;
  --tw-border-opacity: 1;
  border-color: rgb(100 21 255 / var(--tw-border-opacity));
  padding: 0.5rem;
  text-align: center;
  border-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-radius: 50%;
  border-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(154 230 180 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(39 103 73 / var(--tw-text-opacity));
}

.TwoColumn__small--leftheading {
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.suitcase {
  --tw-bg-opacity: 1;
  background-color: rgb(254 178 178 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(155 44 44 / var(--tw-text-opacity));
  display: flex;
  align-items: center;
}

.suitcase svg {
  height: 1.25rem;
  width: 1.25rem;
}

.TwoColumn__small--rightcontainer {
  display: flex;
  align-items: center;
}

.TwoColumn__small--containerborderright {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  flex-shrink: 0;
  --tw-border-opacity: 1;
  border-color: rgb(254 178 178 / var(--tw-bg-opacity));
  padding: 0.5rem;
  text-align: center;
  border-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-radius: 50%;
  border-width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(254 178 178 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(39 103 73 / var(--tw-text-opacity));
}

.TwoColumn__small--rightheading {
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.steps__right--columnimage {
  border-radius: 0.25rem;
}

.steps__right--columnimage img {
  max-width: 105%;
  height: auto;
  width: 105%;
}

.steps__right--columntwo img {
  border-style: none;
  width: 105%;
}

/* PLANS */

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.plans__subheading {
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  letter-spacing: 0.025em;
  font-size: 16px;
  letter-spacing: 0.1rem;
}


.plans__headingtop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  text-align: left;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  color: #243e63;
}

.plans__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.plans__hpara {
  width: 100%;
  text-align: center;
  margin-top: 16px;
  max-width: 40rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
  margin-left: auto;
  margin-right: auto;
}

.plans__container {
  padding: 98px 0px;
}

.plan--personal {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: calc(100% / 3);
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plan--business {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: calc(100% / 3);
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan--enterprise {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: calc(100% / 3);
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.plan__highlight.personal {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__highlight.enterprise {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__header {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.businessheader {
  font-size: 1.25rem;
  font-weight: 700;
  color:white;
}

.businessduration {
  color:white !important;
  font-size: 16px;
}


.price {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 48px;
  font-weight: 700;
}

.duration {
  font-weight: 700;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(160 174 192 / var(--tw-text-opacity));
}


.plan__features {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 2rem;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.plan__feature--main:first-child {
  margin-top: 0px;
}

.plan__feature--main {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.feature {
  color: rgb(113 128 150 / var(--tw-text-opacity));
  margin-top: 1.25rem;
  font-weight: 500;
}

.plan__action {
  padding: 2rem 64px;
}

.plan__action--but.personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  width: 100%;
  border-radius: 9999px;
  border-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
  cursor: pointer;
}

.plan__action--but.business {
  background: white;
  width: 100%;
  border-radius: 9999px;
  border-style: none; 
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: #6415ff;
  cursor: pointer;
}

.plan__action--but.enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  width: 100%;
  border-radius: 9999px;
  border-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
  cursor: pointer;
}


/* TESTIMONIALS */

.testcolumn {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}



.sub__heading--testimonial {
    color: #6415ff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 0.1em;
    font-size: 16px;
}

.heading--testimonial {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  color: #243e63;
}

.para-testimonial {
   margin-top: 16px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
    margin-bottom: 48px;
}

.star {
  margin-right: 0.25rem;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(246 173 85 / var(--tw-text-opacity));
}

.desc--testimonials {
  margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #243e63;

}

.desc--para {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(74 85 104 / var(--tw-text-opacity));
}

.testimonial--reviewername {
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.testimonial--reviewertitle {
  font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.TwoColumn--image img{
  border-radius: 9999px;
  width: 80px;
  height: 80px;
}

.testimonial--reviewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial--imgandreview {
  display: flex;
  align-items: center;
  
}

.testimonial--reviewerdesc {
  margin-left: 24px;
}

.testcolumn--left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testcolumn--right {
  width: 50%;
  position: inherit;
  left: 64px;
}


.testcolumn--left img {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.testimonial--button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(237 242 247 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 300ms;
  cursor: pointer;
  border-style: none;
}


.testimonial--button svg {
 height: 1rem;
 width: 1rem;
 stroke-width: 3;
}

.divider {
  margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-style: solid;
    border-right-width: 1px;
    opacity: 0.15
}

.testimonial--buttons {
  display: flex;
  justify-content: center;
}

.testcontainer {
  padding: 98px 0px;
}


/* FAQS */

.FAQS--container {
  padding: 98px 0px;
}

.container--flex {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.FAQS--heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FAQS--subheading {
    font-weight: 700;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(100 21 255 / var(--tw-text-opacity));
    letter-spacing: 0.025em;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.FAQS--headingtop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  text-align: left;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025em;
  color: #243e63;
}

.FAQS--para {
  width: 100%;
    text-align: center;
    margin-top: 16px;
    max-width: 40rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
    margin-left: auto;
    margin-right: auto;
}

.FAQS--questions {
  position: relative;
  margin-top: 48px;
  max-width: 56rem; 
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.questions--column {
  margin-top: 1.25rem;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(237 242 247 / var(--tw-bg-opacity));
    padding: 1.25rem 2rem;
    --tw-text-opacity: 1;
    color: rgb(45 55 72 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.question--column_inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;  
}

.questionarrow svg {
  margin-left: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.question {
  width: 800px;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .header__left-column {
    width: 41.6667%;
    max-width: none;
    text-align: left;
  }
}


